<p>
  <b><%= comment.commenter %></b> commented on <%= comment.created_at %>
</p>

<p><%= comment.body %></p>

<p>
  <%= link_to "Delete", [comment.post, comment], confirm: 'Are you sure?', method: :delete  %>
</p>
